@font-face {
    font-family: Scriptina;
    src: url(../fonts/scriptina.ttf);
}

@font-face {
    font-family: AvantGardeLight;
    src: url(../fonts/avant-garde-light.ttf);
}

@font-face {
    font-family: HelveticaNeueUltraLight;
    src: url(../fonts/HelveticaNeue-UltraLight.ttf);
}

@font-face {
    font-family: Gabrielle;
    src: url(../fonts/Gabrielle.ttf);
}

@font-face {
    font-family: PleaseWriteMeASong;
    src: url(../fonts/please-write-me-a-song.ttf);
}

body, html {
    height:100%;
    width:100%;
    margin: 0 0 0 0;
    -webkit-transition: all 250ms linear;
    -moz-transition: all 250ms linear;
    -ms-transition: all 250ms linear;
    -o-transition: all 250ms linear;
    transition: all 250ms linear;
    transition-property: background-color, color;
}

h1, h2, h3{
    margin: 0 0 0 0;
}

.container {
    height: auto;
}

.section {
    width: 100%;
    min-width: 1256px;
    min-height: 683px;
    position: relative;
    display: block;
    overflow: hidden;
}

.center {
    text-align: center;
}

.right {
    text-align: right;
}

#title {
    width: 100%;
    min-width: 1256px;
    height: 155px;
    background-color: #e0e0e0;
    color: #27868C;
    font-family: Scriptina;
    font-size: 3em;
}

#title h1{
    position: relative;
    bottom: 98px;
}

#quote-one {
    display: table;
    background-color: #FF4B43;
    color: #ffffff;
    font-family: AvantGardeLight;
    font-size: 2em;
}

#quote-one .wrapper {
    display: table-cell;
    vertical-align: middle;
}

#quote-one h2, #quote-one h3 {
    width: 800px;
    margin: 0 auto;
}

#quote-one h2 {
    text-align: left;
}

#quote-two {
    background-color: #8EBFB0;
    display: table;
    font-family: HelveticaNeueUltraLight;
    color: #E8E8E8;
}

#quote-two h2 {
    -moz-column-count: 3; /* Firefox */
    -webkit-column-count: 3; /* Safari and Chrome */
    margin: 0 100px 0 100px;
    font-size: 1.1em;
}

#quote-two .wrapper {
    display: table-cell;
    margin: auto;
    vertical-align: middle;
}

#quote-two .wrapper a {
    color: #000000;
    font-weight: bold;
    margin: 0 100px 0 100px;
    float: right;
}

#quote-three {
    display: table;
    background-color: #dc935e;
    font-family: Gabrielle;
    font-size: 2.5em;
}

#quote-three .wrapper {
    display: table-cell;
    vertical-align: middle;
}

#quote-three h2, #quote-three h3 {
    width: 700px;
    margin: 0 auto;
}

#quote-four {
    display: table;
    background-color: #556C8C;
    color: #2B2B2B;
    font-family: HelveticaNeueUltraLight;
    font-size: 2.5em;
}

#quote-four .wrapper {
    display: table-cell;
    vertical-align: middle;
}

#quote-four h2, #quote-four h3 {
    width: 900px;
    margin: 0 auto;
}

#quote-five {
    display: table;
    font-family: PleaseWriteMeASong, sans-serif;
    font-size: 3em;
    background-color: #ead777;
    color: #515151;
}

#quote-five .wrapper {
    display: table-cell;
    vertical-align: middle;
}

#quote-five h2, #quote-five h3 {
    width: 761px;
    margin: 0 auto;
}

/*FOOTER*/
footer a {
    color: #333333;
}

footer a:hover {
    text-decoration: none;
    color: #f53232;
}

footer {
    height: 48px;
    width: 100%;
    margin: 16px;
    position: absolute;
    text-align: center;
    opacity: 0.7;
    bottom: 0;
    background-color: #FFFFFF;
    font-family: RobotoCondensed, sans-serif;

    -webkit-transition: opacity 250ms ease-in-out;
    -moz-transition: opacity 250ms ease-in-out;
    -ms-transition: opacity 250ms ease-in-out;
    -o-transition: opacity 250ms ease-in-out;
    transition: opacity 250ms ease-in-out;
}

footer:hover {
    opacity: 1;
    filter:alpha(opacity=100);
    zoom: 1;
}

.footer-section {
    float:left;
    font-size: 12px;
    padding: 16px;
}

#footer-title {
    width: 60%;
    text-align: left;
    padding-left:15%;
}

#footer-links {
    text-align: right;
}